body {
  font-family: "Roboto",sans-serif;
  font-size: 1.8em;
  font-weight: bold;
  background-color: #f1cbff;
}

li {
  list-style-type: none;
}

.pokemon-button {
  background-color: #687978;
  color: white;
  border: none;
  text-decoration: none;
  font-family: inherit;
  font-size: inherit;
  display: inline-block;
  width: 80%;
  border-radius: 3px;
  padding: 30px;
  margin-top: 20px;
  box-shadow: 1px 3px 8px rgb(0 0 0 / 0.2);
  cursor: pointer;
}

.pokemon-button:hover{
  opacity: 0.7;
}

@media screen and (min-width: 601px){
  .pokemon-button {
    width: 40%;
  }
}
